body{
    font-family: "Century Gothic", Verdana, sans-serif;
}

div{
    width: 200px;
    height: 200px;
    background: #06D;
    -webkit-transition: 3s width 2s ease, 3s background 5s ease;
    -moz-transition: 3s width 2s ease, 3s background 5s ease;
    -o-transition: 3s width 2s ease, 3s background 5s ease;
    transition: 3s width 2s ease, 3s background 5s ease;
}

div:hover{
    width: 400px;
    background: #A03;
}