body{
    font-family: "Century Gothic", Verdana, sans-serif;
    background-image: url("code-informatique.jpg"), url("matrice.jpg");
    background-size: 25%,50%;
    background-repeat:no-repeat, no-repeat;
    background-position: top left, top right;
}
